<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<javaScriptServices>
			<apps>
				<app name="fishtank-nextjs-app"
				  filesystemPath="/dist/$name"
				  serverBundle="server.bundle"
				  importUser="sitecore\JssImport"
				  importLanguage="en"
				  importDatabase="master"
				  importDevice="/sitecore/layout/Devices/Default"
				  templatesPath="/sitecore/templates/Project/$name"
				  renderingsPath="/sitecore/layout/renderings/Project/$name"
				  layoutPath="/sitecore/layout/Layouts/Project/$name/$name Layout"
				  placeholdersPath="/sitecore/layout/placeholder settings/Project/$name"
				  appDatasourcesPath="$sitecorePath/Components"
				  dictionaryPath="$sitecorePath/$name Dictionary"
				  dictionaryDomain="$name Dictionary"
				  routeDatasourcesPath="Page Components"
				  mediaLibraryPath="/sitecore/media library/$name"
				  defaultWorkflow="/sitecore/system/Workflows/JSS Development Workflow"
				  appTemplate="/sitecore/templates/Foundation/JavaScript Services/App"
				  routeBaseTemplate="/sitecore/templates/Foundation/JavaScript Services/Route"
				  routeTemplateName="$name Route"
				  layoutTemplate="/sitecore/templates/Foundation/JavaScript Services/JSS Layout"
				  folderTemplate="/sitecore/templates/Common/Folder"
				  placeholderSettingsFolderTemplate="/sitecore/templates/System/Layout/Placeholder Settings Folder"
				  renderingsFolderTemplate="/sitecore/templates/System/Layout/Renderings/Rendering Folder"
				  layoutFolderTemplate="/sitecore/templates/System/Layout/Layout Folder"
				  templateFolderTemplate="/sitecore/templates/System/Templates/Template Folder"
				  mediaLibraryFolderTemplate="/sitecore/templates/System/Media/Media folder"
				  useLanguageSpecificLayout="true"
				  protectDeveloperItems="true"
				  optimizeImportIndexing="true"
				  datasourceStrategy="preferRouteLevel"
				  analyzeAllowedControls="true"
				  layoutServiceConfiguration="sxa-jss"
				  debugSecurity="false"
				  serverSideRenderingFunctionName="renderView"
				  serverSideRenderingWorkerProcesses="2"
				  serverSideRenderingEngine="http"
				  serverSideRenderingEngineEndpointUrl="http://rendering:3000/api/editing/render"
				  serverSideRenderingEngineApplicationUrl="http://rendering:3000"
				  serverSideRenderingEngineEditOnly="true"
				  graphQLEndpoint="/sitecore/api/graph/edge"
				  sitecorePath="/sitecore/content/getfishtank/www"
        />
			</apps>
		</javaScriptServices>
	</sitecore>
</configuration>
